<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercici 303</title>
    <link rel="stylesheet" href="/estils.css">
</head>
<body>
    <header>
        <h1>Exercici 303</h1>
    </header>
